.contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap; /* Permite que las fichas se envuelvan cuando el contenedor es demasiado pequeño */
}

.ficha {
    text-align: center;
    width: calc(20% - 20px); /* Ancho del 20% del contenedor menos el espacio entre las fichas */
    margin: 10px; /* Espacio entre las fichas */
    font-size: 18px;
    font-weight: bold;
}

.docente {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
