{% extends 'base.html' %}

{% load static %}

{% block content %}

<h1>{{title}}</h1>


<div class="contenedor">

<div class="home">

    <H3>🚀Misión</H3>

<p>Nuestra misión es implementar el sistema de gestión de aprendizaje LearningYou de manera eficiente y personalizada en la institución educativa, con el fin de mejorar la calidad y accesibilidad de la formación y el aprendizaje. Nos comprometemos a proporcionar una experiencia educativa moderna y centrada en el estudiante, que fomente la colaboración, el aprendizaje continuo y la excelencia académica. Buscamos transformar los procesos de enseñanza y aprendizaje, adaptándolos a las demandas cambiantes de la educación en la era digital, y contribuir así al desarrollo integral de nuestros estudiantes.</p>
    <H3>💡Visión</H3>

<p>Nuestra visión es convertirnos en un referente en la implementación de sistemas de gestión de aprendizaje innovadores y efectivos. Buscamos crear un entorno educativo dinámico y flexible, donde los estudiantes tengan acceso a recursos educativos de calidad desde cualquier lugar y en cualquier momento. Aspiramos a ser reconocidos por nuestra excelencia en la entrega de contenido educativo, el seguimiento del progreso estudiantil y el apoyo a la formación continua del personal docente y administrativo. A través de la implementación de LearningYou, buscamos liderar el camino hacia una educación más accesible, inclusiva y orientada al futuro.</p>

</div>
<img src="{% static 'patio.jpg' %}" alt=""  class="imagen" height="550">

<div class="imagen-fondo"></div>


</div>
</div>


📞Phone <br>
        jonathan 300-613-9114 <br>
        laura 322-390-2521 <br>
        julieth 321-355-0201




{% endblock %}

