{% extends 'base.html' %}


{% block content %}

<h1>Tasks</h1>

{% for task in tasks %}

<div>
    <h1> {{task.title}}</h1>
    <p>{{task.description}}</p>
    <p>estudiantes: {{task.estudiantes.name}}</p>
    {% if task.calificacion %}
    <p> calificacion: {{task.calificacion}}</p>
    <p>calificada ✅</p>
    {% else %}
    <p>aun no calificada x</p>
    <a href="{% url 'calificar_tarea' tarea_id=task.id %}">Calificar tarea</a>
         
    
   
   {% endif %} 
    
</div>



{% endfor %}


{% endblock %}